<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Plans list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Plan</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="plans"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column width="300px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Description">
          <template slot-scope="{ row }">
            <span>{{ row.description }}</span>
          </template>
        </el-table-column>

       <el-table-column min-width="300px" label="Application">
          <template slot-scope="{ row }">
            <span v-for="(application, i) in row.applications" :key="i" class="list-application">{{ application.name }}</span>
          </template>
        </el-table-column>

        <!-- <el-table-column min-width="300px" label="Recurring">
          <template slot-scope="{ row }">
            <span>{{ getRecurringByValue(row.recurring) }}</span>
          </template>
        </el-table-column> -->
        <el-table-column fixed="right" align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeletePlan(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <PlanForm
        ref="PlanForm"
        :data="plan"
        @onCreate="handleCreatePlan"
        @onUpdate="handleUpdatePlan"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import PlanForm from './PlanForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../../../core/constants'
import { RECURRING_LIST } from './PlanForm.vue'
export default {
  name: 'PlansPage',
  components: { PlanForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      plan: {}
    }
  },
  computed: {
    ...mapState({
      plans: state => state.plan.list || []
    }),
    dialogTitle() {
      if (this.data && this.data.id) {
        return 'Edit Plan'
      }
      return 'Create new Plan'
    }
  },
  mounted() {
    this.getListPlan()
  },
  methods: {
    ...mapActions({
      getListPlan: 'plan/getList',
      createPlan: 'plan/create',
      updatePlan: 'plan/update',
      deletePlan: 'plan/delete'
    }),

     reload(){
       this.getListPlan()
    },
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.plan = {}
      this.$refs.PlanForm.resetForm()
    },
    showEditForm(item) {
      this.plan = item
      this.showCreationModal()
    },
    getRecurringByValue(value) {
      const recurring = RECURRING_LIST.find(item => item.value === value)
      if (recurring) {
        return recurring.name
      }
      return ''
    },
    async handleCreatePlan(data) {
      const response = await this.createPlan(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleUpdatePlan(data) {
      const response = await this.updatePlan(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleDeletePlan(plan) {
      this.$confirm(`This will permanently delete the plan "${plan.name}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          
           this.deletePlan(plan).then(res => {
            this.reload()
             this.$message({
              message: 'Delete success.',
              type: 'success'
            })
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}

.list-application{
      padding: 2px 6px;
      margin-right:4px;
      color: white;
      background: #00BFFF;
      font-weight: bold;
      border-radius: 10px;
    }
</style>
