<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" />
      </el-form-item>
      <el-form-item label="Applications">
        <el-select
          v-model="selectedApplications"
          multiple
          filterable
          reserve-keyword
          placeholder="Please select the applications"
        >
          <el-option
            v-for="item in applications"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          />
        </el-select>
      </el-form-item>
      
      
    
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>


      <div v-if="form._id" class="header-title">
        <span class="title">Options</span>

      </div>
      <el-table
        v-if="form._id"
        :data="form.options"
        border
        style="width: 100%; margin-top: 1em"
      
      >

        <el-table-column align="center" label="Recurring month" width="250">
          <template slot-scope="{ row }">
            <span>{{ row.recurring_month }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Price">
          <template slot-scope="{ row }">
            <span>{{ row.price }}</span>
          </template>
        </el-table-column>
      </el-table>

      <div v-if="form._id" class="header-title">
        <span class="title">Add more options</span>
      </div>
      <el-form-item v-if="form._id" label="Recurring">
        <el-select
          v-model="formOption.recurring_month"
          filterable
          reserve-keyword
          placeholder="Please select the recurring"
        >
          <el-option
            v-for="item in recurringList"
            :key="item.id"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item v-if="form._id" label="Price" prop="price">
        <el-input v-model="formOption.price" type="number">
          <template slot="prepend">$</template>
        </el-input>
      </el-form-item>

      <el-form-item v-if="form._id" class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmitAdd">Add</el-button>
      </el-form-item>
    </el-form>

    
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export const RECURRING_LIST = [
  { id: 0, name: '01 month', value: 1 },
  { id: 1, name: '03 months', value: 3 },
  { id: 2, name: '06 months', value: 6 },
  { id: 3, name: '12 months', value: 12 }
]
export default {
  name: 'FeatureForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        name: '',
        description: '',
        options : []
      },

      formOption: {
        recurring_month : null,
        price: null
      },

      rules: {
        name: [{ required: true, message: 'Please input Plan name', trigger: 'blur' }]
      },
      selectedApplications: [],
      recurringList: RECURRING_LIST,
      
    }
  },
  computed: {
    ...mapState({
      applications: state => state.application.list || []
    }),
    submitText() {
      return this.data && this.data._id ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      console.log('nVal', nVal)
      if (nVal && nVal._id) {
        if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
          this.form = { ...nVal }
          this.selectedApplications = [...nVal.applications.map(item => item._id)]
          

        }
      }
    }
  },
  mounted() {
    this.form = { ...this.data }
    this.getApplications()
    
  },
  methods: {
    ...mapActions({
      getApplications: 'application/getList',
      getDetail: 'plan/getDetail',
      updatePlanAddOption : 'plan/updatePlanAddOption'
    }),

    reloadDetail(data){
      this.form.options = data.options;
    },

    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          this.form.applications = this.selectedApplications
         // this.form.options = this.selectedOptions
         // this.form.offers = this.selectedOffers

          if (this.data && this.data._id) {
            const planData = { ...this.form, _id: this.data._id }
            this.$emit('onUpdate', planData)
            return true
          }
          console.log('this.form: ', this.form)
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },

    onSubmitAdd(){
        this.formOption._id = this.form._id;
        this.updatePlanAddOption(this.formOption).then(res => {
        this.reloadDetail(res.data);
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },

    resetForm() {
      this.$refs.form.resetFields()
      this.selectedApplications = []
      this.form = {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
