<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Payments list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Payment</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="payments"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>


        <el-table-column width="300px" align="center" label="Tenant">
          <template slot-scope="{ row }">
            <span>{{ row.tenant ? row.tenant.name : ''}}</span>
          </template>
        </el-table-column>

        <el-table-column width="300px" align="center" label="Subscription">
          <template slot-scope="{ row }">
            <span>{{row.subscription_plan ? row.subscription_plan.name : ''}}</span>
          </template>
        </el-table-column>

        <el-table-column width="100px" align="center" label="Recurring Month">
          <template slot-scope="{ row }">
            <span>{{ row.recurring_month }}</span>
          </template>
        </el-table-column>

        <el-table-column width="100px" align="center" label="Price">
          <template slot-scope="{ row }">
            <span>${{ row.price }}</span>
          </template>
        </el-table-column>

        <el-table-column width="200px" align="center" label="Status">
          <template slot-scope="{ row }">
            <span :class="`status-`+row.status">{{ row.status }}</span>
          </template>
        </el-table-column>
       
        <el-table-column fixed="right" align="center" label="Actions" width="330px">
          <template v-if="row.status !=`success`" slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-bookmark" @click="handleCreateInvoice(row)">
              Purchased
            </el-button>
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeletePayment(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" v-if="creationForm.visible" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <PaymentForm
        ref="PaymentForm"
        :data="payment"
        :tenants="tenants"
        :plans="plans"
        @onCreate="handleCreatePayment"
        @onUpdate="handleUpdatePayment"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import PaymentForm from './PaymentForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../core/constants'
import { RECURRING_LIST } from './PaymentForm.vue'
export default {
  name: 'PaymentsPage',
  components: { PaymentForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      payment: {}
    }
  },
  computed: {
    ...mapState({
      payments: state => state.payment.list || [],
      tenants: state => state.tenant.list || [],
      plans : state => state.plan.list || []
    }),
    dialogTitle() {
      console.log('dialogdata', this.data)
      if (this.data && this.data._id) {
        return 'Edit Payment' + this.data.name
      }
      return 'Create new Payment'
    }
  },
  mounted() {
    this.getListPayment(),
    this.getTenants()
    this.getPlans()
  },
  methods: {
    ...mapActions({
      getListPayment: 'payment/getList',
      createPayment: 'payment/create',
      updatePayment: 'payment/update',
      deletePayment: 'payment/delete',
      createInvoice : 'invoice/create',
      getTenants: 'tenant/getList',
      getPlans: 'plan/getList'
    }),
    reload(){
       this.getListPayment()
    },
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.payment = {}
      this.$refs.PaymentForm.resetForm()
    },
    showEditForm(item) {
      this.payment = item
      this.showCreationModal()
    },
    
    async handleCreatePayment(data) {
      const response = await this.createPayment(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Create success.',
          type: 'success'
        })
      })
      
    },
    async handleUpdatePayment(data) {
      const response = await this.updatePayment(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleDeletePayment(payment) {
      this.$confirm(`This will permanently delete the payment "${payment._id}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          this.deletePayment(payment).then(res => {
            
            this.$message({
              message: 'Delete success.',
              type: 'success'
            })
            this.reload()
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    },

    async handleCreateInvoice(payment) {
      this.$confirm(`This will create invoice for the payment "${payment._id}". Continue?`, 'Info', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'info',
        center: true
      })
        .then(() => {
          console.log(payment);
          let dataInvoice = {
            payment_id : payment._id,
            tenant_id : payment.tenant_id
          }
          this.createInvoice(dataInvoice).then(res => {
            
            this.$message({
              message: 'Create success.',
              type: 'success'
            })
            this.reload()
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.status-success {
  padding: 4px;
  background: #00CC00;
  color: white;
  border-radius: 30px;
}
.status-pending {
  padding: 4px;
  background: #888888;
  color: white;
  border-radius: 30px;
}
</style>
