<template>
  <div style="padding: 1em">
    <div class="form-model3d" style="width: 60%; margin:auto">
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <h3 style="text-align: center">Upload Model 3D</h3>
        <el-form-item label="Project" prop="projectId">
          <el-select
            v-model="form.projectId"
            filterable
            reserve-keyword
            placeholder="Please select the Project"
          >
            <el-option
              v-for="item in projects"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Name" prop="fileName">
          <el-input v-model="form.fileName" />
        </el-form-item>
        <el-form-item label="Description" prop="description">
          <el-input v-model="form.description" />
        </el-form-item>
        <el-form-item label="Thumbnail" prop="thumbnailFile">
          <el-upload
            class="avatar-uploader"
            action="#"
            :show-file-list="false"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="thumbnail.imageUrl" :src="thumbnail.imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon" />
          </el-upload>
        </el-form-item>
        <el-form-item label="FBX File" prop="fbxFile">
          <el-upload
            class="upload-fbx"
            drag
            action=""
            :on-remove="handleRemove"
            :on-change="handelFBXChange"
            :auto-upload="false"
            :file-list="fileList"
          >
            <i class="el-icon-upload" />
            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
            <div slot="tip" class="el-upload__tip">.FBX files with a size less than 20MB</div>
          </el-upload>
        </el-form-item>
        <el-form-item class="actions-block">
          <el-button native-type="submit" type="primary" @click="onSubmit">{{
            submitText
          }}</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { FitinServices } from '../../../core'
import { HTTP_STATUS_CODE } from '../../../core/constants'
export default {
  data() {
    return {
      form: {
        projectId: '',
        fileName: '',
        description: '',
        thumbnailFile: null,
        fbxFile: null
      },
      rules: {
        fileName: [{ required: true, message: 'Please input model name', trigger: 'blur' }],
        projectId: [{ required: true, message: 'Please select Project' }],
        thumbnailFile: [{ required: true, message: 'Please selecte thumbnail' }],
        fbxFile: [{ required: true, message: 'Please selecte FBX file' }]
      },
      submitText: 'Upload',
      thumbnail: {
        imageUrl: null
      },
      fileList: []
    }
  },
  computed: {
    ...mapState({
      projects: state => state.project.list || []
    })
  },
  mounted() {
    this.getListProject()
  },
  methods: {
    ...mapActions({
      getListProject: 'project/getList'
    }),
    handleRemove() {
      this.fbxFile = null
    },
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(async valid => {
        if (valid) {
          const formData = new FormData()
          formData.append('fileName', this.form.fileName)
          formData.append('description', this.form.description)
          formData.append('thumbnailFile', this.form.thumbnailFile)
          formData.append('fbxFile', this.form.fbxFile)
          formData.append('projectId', this.form.projectId)
          const response = await FitinServices.Model3DService.adminCreate(formData)
          if (response.status === HTTP_STATUS_CODE.SUCCESS) {
            this.$message.success('Upload model 3d success')
            this.$refs.form.resetFields()
            this.form = {}
            this.thumbnail = {}
            this.fileList = []
          } else {
            this.$message.error('Upload model error!')
          }
        }
      })
    },
    beforeAvatarUpload(file) {
      // const isJPG = file.type === 'image/jpeg'
      // const isLt2M = file.size / 1024 / 1024 < 2

      // if (!isJPG) {
      //   this.$message.error('Avatar picture must be JPG format!')
      //   return false
      // }
      // if (!isLt2M) {
      //   this.$message.error('Avatar picture size can not exceed 2MB!')
      //   return false
      // }
      if (file) {
        this.thumbnail.file = file
        this.form.thumbnailFile = file
        const fReader = new FileReader()
        fReader.onload = () => {
          this.thumbnail.imageUrl = fReader.result
        }
        fReader.readAsDataURL(file)
      }

      return false
    },
    handelFBXChange(file, fileList) {
      if (file) {
        this.form.fbxFile = file.raw
        // console.log('fbxFile: ', this.fbxFile)
      }
    }
  }
}
</script>

<style lang="scss">
.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409eff;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }
    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }
  }
}
</style>
