<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Invoices list</span>
        <!-- <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Invoice</el-button>
        </div> -->
      </div>
      <el-table
        v-loading="listLoading"
        :data="invoices"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>


        <el-table-column width="400px" align="center" label="Tenant">
          <template slot-scope="{ row }">
            <span>{{ row.tenant ? row.tenant.name : ''}}</span>
          </template>
        </el-table-column>

        

        <el-table-column  align="center" label="Price">
          <template slot-scope="{ row }">
            <span>${{ row.payment.price }}</span>
          </template>
        </el-table-column>

       <el-table-column width="400px" align="center" label="Date">
          <template slot-scope="{ row }">
            <span>{{ row.created_at}}</span>
          </template>
        </el-table-column>
       
        <el-table-column fixed="right" align="center" label="Actions" width="330px">
          <template v-if="row.status !=`success`" slot-scope="{ row }">
      
            <el-button type="primary" size="small" icon="el-icon-download" @click="downloadPDF(row)">
              Download PDF
            </el-button>
            
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <InvoiceForm
        ref="InvoiceForm"
        :data="invoice"
        @onCreate="handleCreateInvoice"
        @onUpdate="handleUpdateInvoice"
        @onCancel="hideCreationModal"
      />
    </el-dialog> -->
  </div>
</template>

<script>
import InvoiceForm from './InvoiceForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../core/constants'
import { RECURRING_LIST } from './InvoiceForm.vue'
export default {
  name: 'InvoicesPage',
  components: { InvoiceForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      invoice: {}
    }
  },
  computed: {
    ...mapState({
      invoices: state => state.invoice.list || []
    }),
    dialogTitle() {
      console.log('dialogdata', this.data)
      if (this.data && this.data._id) {
        return 'Edit Invoice' + this.data.name
      }
      return 'Create new Invoice'
    }
  },
  mounted() {
    this.getListInvoice()
  },
  methods: {
    ...mapActions({
      getListInvoice: 'invoice/getList',
      createInvoice: 'invoice/create',
      updateInvoice: 'invoice/update',
      deleteInvoice: 'invoice/delete',
      downloadInvoice: 'invoice/download'
    }),
    reload(){
       this.getListInvoice()
    },
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.invoice = {}
      this.$refs.InvoiceForm.resetForm()
    },
    showEditForm(item) {
      this.invoice = item
      this.showCreationModal()
    },
    downloadPDF(item){
      const res = this.downloadInvoice(item._id).then(response => {
        var fileURL = window.URL.createObjectURL(new Blob([response]));
        var fileLink = document.createElement('a');
        fileLink.href = fileURL;
        fileLink.setAttribute('download', `${item._id}.pdf`);
        document.body.appendChild(fileLink);
        fileLink.click();
      })
    },

    async handleCreateInvoice(data) {
      const response = await this.createInvoice(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Create success.',
          type: 'success'
        })
      })
      
    },
    async handleUpdateInvoice(data) {
      const response = await this.updateInvoice(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleDeleteInvoice(invoice) {
      this.$confirm(`This will permanently delete the invoice "${invoice.name}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          this.deleteInvoice(invoice).then(res => {
            
            this.$message({
              message: 'Delete success.',
              type: 'success'
            })
            this.reload()
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
