<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Tenant" prop="tenant_id">
        <el-select v-model="form.tenant_id" placeholder="Select Tenant">
          <el-option
            v-for="item in tenants"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="Plan" prop="subscription_plan_id">
        <el-select v-model="form.subscription_plan_id" placeholder="Select Subscription Plan" @change="selectPlan">
          <el-option
            v-for="item in plans"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          />
        </el-select>
      </el-form-item>

      <el-form-item v-if="!form._id" label="Option" prop="option">
        <el-select v-model="plan_value" placeholder="Select Option" @change="selectOption">
          <el-option
            v-for="(item,v) in options"
            :key="v"
            :label="`${item.recurring_month} month - $${item.price}`"
            :value="JSON.stringify(item)"
          />
        </el-select>
      </el-form-item>

      <el-form-item v-if="form._id" label="Recurring" prop="recurring_month">
        <el-input v-model="form.recurring_month" disabled />
      </el-form-item>

      <el-form-item v-if="form._id" label="Price" prop="price">
        <el-input v-model="form.price" disabled/>
      </el-form-item>


      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'InvoiceForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        tenant_id: null,
        subscription_plan_id: null
      },
      options : [],
      plan_value: null,
      rules: {
        tenant_id: [{ required: true, message: 'Please select tenant', trigger: 'blur' }],
        subscription_plan_id: [{ required: true, message: 'Please select plan', trigger: 'blur' }]
      }
    }
  },
  computed: {
    ...mapState({
      tenants: state => state.tenant.list || [],
      plans : state => state.plan.list || []
    }),
    submitText() {
      return this.data && this.data._id ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      console.log('nVal', nVal)
      if (nVal && nVal._id) {
        if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
          this.form = { ...nVal }
          
        }
      }
    }
  },
  mounted() {
    console.log('data', this.data)
    this.form = { ...this.data }
    this.getTenants()
    this.getPlans()
  },
  methods: {
    ...mapActions({
      getTenants: 'tenant/getList',
      getPlans: 'plan/getList'
    }),
    selectPlan(val){
      let selectedPlan = this.plans.find(x => {return x._id == val} );
      if(selectedPlan){
        this.options = selectedPlan.options || [];
        this.form.recurring_month = null;
        this.form.price = null;
      }
    },

    selectOption(val){
      let selectedOption = JSON.parse(val);
      this.form.recurring_month = selectedOption.recurring_month;
      this.form.price = selectedOption.price;
    },

    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {

          if (this.data && this.data._id) {
            const invoiceData = { ...this.form, _id: this.data._id }
            this.$emit('onUpdate', invoiceData)
            
            return true
          }
          console.log('this.form: ', this.form)
          this.$emit('onCreate', this.form)
          
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
      this.form = {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
