<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Option list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Option</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="options"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="ID" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
            <el-tooltip effect="light" placement="right">
              <div slot="content">
                {{ row.description }}
              </div>
              <i class="el-icon-info" style="margin-left: 0.5em" />
            </el-tooltip>
          </template>
        </el-table-column>

        <el-table-column width="200px" label="Price">
          <template slot-scope="{ row }">
            <span>{{ row.price }}</span>
          </template>
        </el-table-column>
        <el-table-column width="200px" label="Stripe Id">
          <template slot-scope="{ row }">
            <span>{{ row.stripePriceId }}</span>
          </template>
        </el-table-column>

        <el-table-column fixed="right" align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteOption(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog
      title="Create new Option"
      :visible.sync="creationForm.visible"
      @close="hideCreationModal"
    >
      <OptionForm
        ref="optionForm"
        :data="option"
        @onCreate="handleCreateOption"
        @onUpdate="handleUpdateOption"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import OptionForm from './OptionForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../../../core/constants'
export default {
  name: 'OptionsPage',
  components: { OptionForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      option: {}
    }
  },
  computed: {
    ...mapState({
      options: state => state.option.list || []
    })
  },
  mounted() {
    this.getListOption()
  },
  methods: {
    ...mapActions({
      getListOption: 'option/getList',
      createOption: 'option/create',
      updateOption: 'option/update',
      deleteOption: 'option/delete'
    }),
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.option = {}
      this.$refs.optionForm.resetForm()
    },
    showEditForm(item) {
      this.option = item
      this.showCreationModal()
    },
    async handleCreateOption(data) {
      const response = await this.createOption(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleUpdateOption(data) {
      const response = await this.updateOption(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleDeleteOption(option) {
      this.$confirm(
        `This will permanently delete the option "${option.name}". Continue?`,
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.deleteOption(option)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
