<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Feature list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Feature</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="features"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column width="300px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Description">
          <template slot-scope="{ row }">
            <span>{{ row.description }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteFeature(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog
      title="Create new Feature"
      :visible.sync="creationForm.visible"
      @close="hideCreationModal"
    >
      <FeatureForm
        ref="featureForm"
        :data="feature"
        @onCreate="handleCreateFeature"
        @onUpdate="handleUpdateFeature"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import FeatureForm from './FeatureForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../../../core/constants'
export default {
  name: 'FeaturesPage',
  components: { FeatureForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      feature: {}
    }
  },
  computed: {
    ...mapState({
      features: state => state.feature.list || []
    })
  },
  mounted() {
    this.getListFeature()
  },
  methods: {
    ...mapActions({
      getListFeature: 'feature/getList',
      createFeature: 'feature/create',
      updateFeature: 'feature/update',
      deleteFeature: 'feature/delete'
    }),
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.feature = {}
      this.$refs.featureForm.resetForm()
    },
    showEditForm(item) {
      this.feature = item
      this.showCreationModal()
    },
    async handleCreateFeature(data) {
      const response = await this.createFeature(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleUpdateFeature(data) {
      const response = await this.updateFeature(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleDeleteFeature(feature) {
      this.$confirm(
        `This will permanently delete the feature "${feature.name}". Continue?`,
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.deleteFeature(feature)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
