<template>
  <div style="padding: 1em">
    <h3>Payment List</h3>
    <el-table :data="pagingBills" stripe style="width: 100%">
      <el-table-column label="Tenant ID" width="100">
        <template slot-scope="{ row }">
          <span>{{ (row.tenant && row.tenant.id) || row.tenantId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Tenant Email" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ row.tenant && row.tenant.email }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Subscription" width="180">
        <template slot-scope="{ row }">
          <span>{{ row.plan && row.plan.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Amount" width="180">
        <template slot-scope="{ row }">
          <span>${{ row.amount }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Status" width="100">
        <template slot-scope="{ row }">
          <span class="status" :class="getStatus(row.status).toLowerCase()">{{
            getStatus(row.status)
          }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div style="display: flex; justify-content: flex-end; align-items: center">
      <span style="font-size: 0.8em">
        Totals: <b>{{ bills.length }}</b> items
      </span>
      <el-pagination
        :page-size="pageSize"
        layout="prev, pager, next"
        :total="bills.length"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export const PAYMENT_STATUS = {
  1: 'Pending',
  2: 'Success',
  3: 'Cancel'
}
export default {
  name: 'BillingsPage',
  data() {
    return {
      loading: false,
      PAYMENT_STATUS,
      pageSize: 15,
      curPage: 1
    }
  },
  computed: {
    ...mapState({
      bills: state => state.billing.list || []
    }),
    pagingBills() {
      const cloneBills = [...this.bills]
      return cloneBills.splice((this.curPage - 1) * this.pageSize, this.pageSize)
    }
  },
  mounted() {
    this.getListBills()
  },
  methods: {
    ...mapActions({
      getListBills: 'billing/getList'
    }),
    getStatus(status) {
      return PAYMENT_STATUS[status] || 'undefined'
    },
    handleCurrentChange(val) {
      this.curPage = val
    }
  }
}
</script>

<style lang="scss" scoped>
.status {
  background: #bbbbbb;
  padding: 2px 4px;
  border-radius: 4px;
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  &.success {
    background: #00bd00;
    color: #ffffff;
  }
}
</style>
