<template>
  <div class="configuration-billing-wrapper">
    This is Billing page 123
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'PaymentProvidersPage'
}
</script>

<style lang="scss" scoped>
.configuration-billing-wrapper {
  padding: 1em;
}
</style>
