<template>
  <div style="padding: 1em">
    <h3>Subscription List</h3>
    <el-table :data="subscriptions" stripe style="width: 100%">
      <el-table-column align="center" label="Index" width="80">
        <template slot-scope="{ $index }">
          <span>{{ $index + 1 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Name" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ row.tenant && row.tenant.email }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Plan" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ row.plan && row.plan.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Cost" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ row.plan && `$${row.plan.price}` }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Status" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ row.active ? 'active' : 'inactive' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Expired at" min-width="180">
        <template slot-scope="{ row }">
          <span>{{ parseTime(row.endTime, '{d}-{m}-{y} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { parseTime } from '@/utils'
export default {
  name: 'PaymentsPage',
  data() {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState({
      subscriptions: state => state.subscription.list || []
    })
  },
  mounted() {
    this.getListSubscription()
  },
  methods: {
    ...mapActions({
      getListSubscription: 'subscription/getList'
    }),
    parseTime
  }
}
</script>

<style lang="scss" scoped></style>
