<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Tenants list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Tenant</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="tenants"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>


        <el-table-column width="300px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Email">
          <template slot-scope="{ row }">
            <span>{{ row.email }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Active" width="80">
          <template slot-scope="{ row }">
            <span>{{ row.active }}</span>
          </template>
        </el-table-column>
        <el-table-column fixed="right" align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteTenant(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <TenantForm
        ref="TenantForm"
        :data="tenant"
        @onCreate="handleCreateTenant"
        @onUpdate="handleUpdateTenant"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import TenantForm from './TenantForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../core/constants'
import { RECURRING_LIST } from './TenantForm.vue'
export default {
  name: 'TenantsPage',
  components: { TenantForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      tenant: {}
    }
  },
  computed: {
    ...mapState({
      tenants: state => state.tenant.list || []
    }),
    dialogTitle() {
      console.log('dialogdata', this.data)
      if (this.data && this.data._id) {
        return 'Edit Tenant' + this.data.name
      }
      return 'Create new Tenant'
    }
  },
  mounted() {
    this.getListTenant()
  },
  methods: {
    ...mapActions({
      getListTenant: 'tenant/getList',
      createTenant: 'tenant/create',
      updateTenant: 'tenant/update',
      deleteTenant: 'tenant/delete'
    }),
    reload(){
       this.getListTenant()
    },
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.tenant = {}
      this.$refs.TenantForm.resetForm()
    },
    showEditForm(item) {
      this.tenant = item
      this.showCreationModal()
    },
    
    async handleCreateTenant(data) {
      const response = await this.createTenant(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Create success.',
          type: 'success'
        })
      })
      
    },
    async handleUpdateTenant(data) {
      const response = await this.updateTenant(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleDeleteTenant(tenant) {
      this.$confirm(`This will permanently delete the tenant "${tenant.name}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          this.deleteTenant(tenant).then(res => {
            
            this.$message({
              message: 'Delete success.',
              type: 'success'
            })
            this.reload()
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
