<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="Email" prop="email">
        <el-input v-model="form.email" />
      </el-form-item>
      <el-form-item label="Password" prop="password">
        <el-input v-model="form.password" />
      </el-form-item>
    
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'TenantForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        name: '',
        description: ''
      },
      rules: {
        name: [{ required: true, message: 'Please input Tenant name', trigger: 'blur' }],
        email: [{ required: true, message: 'Please input Tenant email', trigger: 'blur' }]
      },
      selectedApplications: []
    }
  },
  computed: {
    ...mapState({
      applications: state => state.application.list || []
    }),
    submitText() {
      return this.data && this.data.email ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      console.log('nVal', nVal)
      if (nVal && nVal._id) {
        if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
          this.form = { ...nVal }
          //this.selectedApplications = [...nVal.applications.map(item => item.id)]
        }
      }
    }
  },
  mounted() {
    console.log('data', this.data)
    this.form = { ...this.data }
    this.getApplications()
  },
  methods: {
    ...mapActions({
      getApplications: 'application/getList'
    }),
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          this.form.applications = this.selectedApplications
          this.form.options = this.selectedOptions
          this.form.offers = this.selectedOffers

          if (this.data && this.data._id) {
            const tenantData = { ...this.form, _id: this.data._id }
            this.$emit('onUpdate', tenantData)
            return true
          }
          console.log('this.form: ', this.form)
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
      this.selectedApplications = []
      this.form = {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
