<template>
  <div style="padding: 1em">
    This is Upload texture page
    <!-- <h3>Upload Texture</h3>
    <div class="form-upload" style="width: 60%; margin: auto">
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-form-item label="Name" prop="name">
          <el-input v-model="form.name" />
        </el-form-item>
        <el-form-item label="Description" prop="description">
          <el-input v-model="form.description" />
        </el-form-item>
        <el-form-item class="actions-block">
          <el-button native-type="submit" type="primary" @click="onSubmit">{{
            submitText
          }}</el-button>
          <el-button @click="onCancel">Cancel</el-button>
        </el-form-item>
      </el-form>
    </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        description: ''
      },
      rules: {
        name: [{ required: true, message: 'Please input Feature name', trigger: 'blur' }]
      },
      submitText: 'Upload'
    }
  }
}
</script>

<style lang="scss" scoped></style>
