<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" />
      </el-form-item>
      
      <!-- <div
        style="width: 100%; display:flex; align-items: center; margin-bottom: 1em; flex-direction: column"
      >
        <b style="margin-bottom: 1em">Features</b>
        <el-transfer
          v-model="selectedFeatures"
          filterable
          :filter-method="filterMethod"
          filter-placeholder="Select Features"
          :titles="['Features', 'Selected']"
          :data="features"
          :render-content="renderContent"
        />
      </div> -->
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'ApplicationForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        name: '',
        description: ''
      },
      rules: {
        name: [{ required: true, message: 'Please input Application name', trigger: 'blur' }]
      },
      selectedFeatures: []
    }
  },
  computed: {
    ...mapState({
      //features: state => (state.feature.list || []).map(item => ({ ...item, key: item.id })),
      application: state => state.application.current || {}
    }),
    submitText() {
      return this.data && this.data._idid ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
        this.form = { ...nVal }
        if (this.form.id) {
          this.getDetail(this.form.id)
        }
      }
      // this.selectedFeatures = [...this.form.featureIds]
    },
    application: function(val) {
      this.form = { ...val }
      this.selectedFeatures = val.features.map(item => item.id)
    }
    // selectedFeatures: function(val) {
    //   this.form.featureIds = val
    // }
  },
  mounted() {
    this.form = { ...this.data }
    // this.selectedFeatures = this.data.featureIds
    this.$store.dispatch('feature/getList')
    if (this.form.id) {
      this.getDetail(this.form.id)
    }
  },
  methods: {
    ...mapActions({
      getDetail: 'application/getDetail'
    }),
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          delete this.form.features
          this.form.featureIds = this.selectedFeatures
          if (this.data && this.data._id) {
            const featureData = { ...this.form, _id: this.data._id }
            this.$emit('onUpdate', featureData)
            return true
          }
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
      this.selectedFeatures = []
    },
    filterMethod(query, item) {
      const data = item.name || ''
      return data.toLowerCase().indexOf(query.toLowerCase()) > -1
    },
    renderContent(h, option) {
      return <span>{option.name}</span>
    }
  }
}
</script>

<style lang="scss" scoped></style>
