<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Applications</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Application</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="applications"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column width="300px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Description">
          <template slot-scope="{ row }">
            <span>{{ row.description }}</span>
          </template>
        </el-table-column>

        <el-table-column fixed="right" align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteApplication(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <ApplicationForm
        ref="applicationForm"
        :data="application"
        @onCreate="handleCreateApplication"
        @onUpdate="handleUpdateApplication"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import ApplicationForm from './ApplicationForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../../../core/constants'
export default {
  name: 'ApplicationsPage',
  components: { ApplicationForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      application: {}
    }
  },
  computed: {
    ...mapState({
      applications: state => state.application.list || []
    }),
    dialogTitle() {
      if (this.application && this.application.id) {
        return 'Edit Application'
      }
      return 'Create new Application'
    }
  },
  mounted() {
    this.getListApplication()
  },
  methods: {
    ...mapActions({
      getListApplication: 'application/getList',
      createApplication: 'application/create',
      updateApplication: 'application/update',
      deleteApplication: 'application/delete'
    }),

    reload(){
       this.getListApplication()
    },
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.application = {}
      this.$refs.applicationForm.resetForm()
    },
    showEditForm(item) {
      this.application = item
      this.showCreationModal()
    },
    async handleCreateApplication(data) {
      const response = await this.createApplication(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleUpdateApplication(data) {
      const response = await this.updateApplication(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },
    async handleDeleteApplication(application) {
      this.$confirm(
        `This will permanently delete the application "${application.name}". Continue?`,
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(async() => {
         

           this.deleteApplication(application).then(res => {
            this.reload()
             this.$message({
              message: 'Delete success.',
              type: 'success'
            })
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
