<template>
  <div style="padding: 1em">
    <el-table
      v-loading="listLoading"
      :data="pagingProducts"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1em"
    >
      <el-table-column align="center" label="Index" width="80">
        <template slot-scope="{ $index }">
          <span>{{ $index + 1 }}</span>
        </template>
      </el-table-column>

      <el-table-column width="300px" align="center" label="Name">
        <template slot-scope="{ row }">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="200px" label="SKU">
        <template slot-scope="{ row }">
          <span>{{ row.sku }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="200px" label="Category">
        <template slot-scope="{ row }">
          <span>{{ row.category && `${row.category.name}` }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="250px">
        <template slot-scope="{ row }">
          <el-button type="primary" size="small" icon="el-icon-upload" @click="showUploadForm(row)">
            Upload
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="display: flex; justify-content: flex-end; align-items: center">
      <span style="font-size: 0.8em">
        Totals: <b>{{ products.length }}</b> items
      </span>
      <el-pagination
        :page-size="pageSize"
        layout="prev, pager, next"
        :total="products.length"
        @current-change="handleCurrentChange"
      />
    </div>
    <el-dialog
      title="Upload Images"
      :visible.sync="uploadFormModal.visible"
      @close="hideUploadModal"
    >
      <div class="form-product" style="width: 100%; margin:auto">
        <el-form ref="form" :model="form" :rules="rules" label-width="120px">
          <h3 style="text-align: center">Upload Images for Product 360 View</h3>
          <el-form-item label="Image Files" prop="imageFiles">
            <el-upload
              class="upload-img"
              drag
              action=""
              :on-remove="handleRemove"
              :on-change="handelUploadFileChange"
              :auto-upload="false"
              :file-list="form.fileList"
              style="width: 70%"
              accept="zip"
            >
              <i class="el-icon-upload" />
              <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
              <div slot="tip" class="el-upload__tip">Only .zip file is accepted</div>
            </el-upload>
            <el-progress v-if="isUploading" :percentage="percentUpload" />
          </el-form-item>
          <el-form-item class="actions-block">
            <el-button
              :disabled="zipFile == null"
              :loading="isUploading"
              native-type="submit"
              type="primary"
              @click="onSubmit"
            >
              {{ form.submitText }}
            </el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  data() {
    return {
      listLoading: false,
      pageSize: 15,
      curPage: 1,
      form: {
        name: '',
        description: '',
        fileList: [],
        submitText: 'Upload'
      },
      rules: {
        name: [{ required: true, message: 'Please input Feature name', trigger: 'blur' }]
      },
      submitText: 'Upload',
      uploadFormModal: {
        visible: false
      },
      zipFile: null,
      currentProduct: null,
      isUploading: false,
      percentUpload: 0
    }
  },
  computed: {
    ...mapState({
      products: state => state.product.list360Requested || []
    }),
    pagingProducts() {
      const cloneProducts = [...this.products]
      return cloneProducts.splice((this.curPage - 1) * this.pageSize, this.pageSize)
    }
  },
  mounted() {
    this.getList360Request()
  },
  methods: {
    ...mapActions({
      getList360Request: 'product/getList360Requested',
      upload360: 'product/upload360'
    }),
    handelUploadFileChange(file, fileList) {
      this.zipFile = file
    },
    handleRemove() {},
    async onSubmit(e) {
      e.preventDefault()
      if (this.zipFile == null) return
      const formData = new FormData()
      formData.append('id', this.currentProduct.id)
      // console.log('file: ', this.zipFile)
      formData.append('zipFile', this.zipFile.raw)
      const data = {
        data: formData,
        updateProgress: this.onUploadProgress
      }
      this.isUploading = true
      await this.upload360(data)
      this.hideUploadModal()
    },
    showUploadForm(product) {
      this.currentProduct = product
      this.uploadFormModal.visible = true
    },
    hideUploadModal() {
      this.isUploading = false
      this.$refs.form.resetFields()
      this.form.fileList = []
      this.uploadFormModal.visible = false
      this.zipFile = null
    },
    handleCurrentChange(val) {
      this.curPage = val
    },
    onUploadProgress(progressEvent) {
      const percentCompleted = Math.round((progressEvent.loaded / progressEvent.total) * 100)
      // console.log(percentCompleted)
      this.percentUpload = percentCompleted
    }
  }
}
</script>

<style lang="scss" scoped></style>
