<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" />
      </el-form-item>
      <el-form-item label="Applications">
        <el-select
          v-model="selectedApplications"
          multiple
          filterable
          reserve-keyword
          placeholder="Please select the applications"
        >
          <el-option
            v-for="item in applications"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Recurring">
        <el-select
          v-model="form.recurring"
          filterable
          reserve-keyword
          placeholder="Please select the recurring"
        >
          <el-option
            v-for="item in recurringList"
            :key="item.id"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="form.price" type="number">
          <template slot="prepend">$</template>
        </el-input>
      </el-form-item>
      <el-form-item label="Stripe Id" prop="price">
        <el-input v-model="form.stripePriceId" />
      </el-form-item>
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export const RECURRING_LIST = [
  { id: 0, name: '01 month', value: 1 },
  { id: 1, name: '03 months', value: 3 },
  { id: 2, name: '06 months', value: 6 },
  { id: 3, name: '12 months', value: 12 }
]
export default {
  name: 'FeatureForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        name: '',
        description: ''
      },
      rules: {
        name: [{ required: true, message: 'Please input Plan name', trigger: 'blur' }]
      },
      selectedApplications: [],
      recurringList: RECURRING_LIST
    }
  },
  computed: {
    ...mapState({
      applications: state => state.application.list || []
    }),
    submitText() {
      return this.data && this.data.id ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      console.log('nVal', nVal)
      if (nVal && nVal.id) {
        if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
          this.form = { ...nVal }
          this.selectedApplications = [...nVal.applications.map(item => item.id)]
        }
      }
    }
  },
  mounted() {
    this.form = { ...this.data }
    this.getApplications()
  },
  methods: {
    ...mapActions({
      getApplications: 'application/getList'
    }),
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          this.form.applications = this.selectedApplications
          this.form.options = this.selectedOptions
          this.form.offers = this.selectedOffers

          if (this.data && this.data.id) {
            const planData = { ...this.form, id: this.data.id }
            this.$emit('onUpdate', planData)
            return true
          }
          console.log('this.form: ', this.form)
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
      this.selectedApplications = []
      this.form = {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
