<template>
  <div class="subscription-wrapper">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'SubscriptionPage'
}
</script>

<style lang="scss" scoped>
.subscription-wrapper {
  padding: 1em;
}
</style>
