<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Asset Requests list</span>
        
      </div>
      <el-table
        v-loading="listLoading"
        :data="requests"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column width="200px" label="Item thumb">
          <template slot-scope="{ row }">
            <img width="200" v-bind:src="row.requestable ? row.requestable.imageUrl : ''"/>
          </template>
        </el-table-column>

        <el-table-column width="300px" label="Model">
          <template slot-scope="{ row }">
            <span class="text-capitalize">{{ row.model }}</span>
          </template>
        </el-table-column>

        <el-table-column width="300px" label="Tenant">
          <template slot-scope="{ row }">
            <span>{{ row.tenant ? row.tenant.name : '' }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="300px" label="Status" width="120">
          <template slot-scope="{ row }">
            <span class="text-capitalize">{{ row.status }}</span>
          </template>
        </el-table-column>


        <el-table-column fixed="right" align="center" label="Actions" width="350px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteRequest(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <RequestForm
        ref="RequestForm"
        :data="request"
       
        @onUpdateRejected="handleUpdateRequestRejected"
        @onUpdateFinished="handleUpdateRequestFinished"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import RequestForm from './RequestForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '../../core/constants'

export default {
  name: 'RequestsPage',
  components: { RequestForm },
  data() {
    return {
      creationForm: {
        visible: false
      },
      listLoading: false,
      request: {}
    }
  },
  computed: {
    ...mapState({
      requests: state => state.request.list || []
    }),
    dialogTitle() {
      return "Request Detail"
    }
  },
  mounted() {
    this.getListRequest()
  },
  methods: {
    ...mapActions({
      getListRequest: 'request/getList',
      getDetailRequest: 'request/getDetail',
      finishRequest: 'request/updateFinish',
      rejectRequest: 'request/updateReject',
      deleteRequest: 'request/delete'
    }),
    reload(){
       this.getListRequest()
    },
    
    hideCreationModal() {
      this.creationForm.visible = false
      this.request = {}
      this.$refs.RequestForm.resetForm()
    },
    showEditForm(item) {
      this.request = item
      this.creationForm.visible = true
    },
    
    
    async handleUpdateRequest(data) {
      const response = await this.updateRequest(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },

    async handleUpdateRequestFinished(data) {
      const response = await this.finishRequest(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },

    async handleUpdateRequestRejected(data) {
      const response = await this.rejectRequest(data).then(res => {
        this.reload()
        this.hideCreationModal()
        this.$message({
          message: 'Update success.',
          type: 'success'
        })
      })
    },


    async handleDeleteRequest(request) {
      this.$confirm(`This will permanently delete the request "${request._id}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          this.deleteRequest(request).then(res => {
            
            this.$message({
              message: 'Delete success.',
              type: 'success'
            })
            this.reload()
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.text-capitalize {
  text-transform: capitalize;
}
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
