<template>
  <div>
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="Tenant" prop="Tenant">
        <el-input v-model="form.tenant.name" disabled/>
      </el-form-item>
      <el-form-item label="Request By" prop="User">
        <el-input v-model="form.requested_by" disabled/>
      </el-form-item>
      <el-form-item label="Class" prop="Class">
        <el-input v-model="form.model" disabled/>
      </el-form-item>
      <el-form-item label="Item Name" prop="Requestable">
        <el-input v-model="form.requestable.name" disabled/>
      </el-form-item>
      <el-form-item label="Status">
        <el-select
          v-model="status" @change="changeStatus()"
        >
          <el-option
            :key="1"
            :label="`Pending`"
            :value="`pending`"
          />
          <el-option
            :key="2"
            :label="`Rejected`"
            :value="`rejected`"
          />
          <el-option
            :key="3"
            :label="`Finished`"
            :value="`finished`"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">Update</el-button>
        <el-button @click="onCancel">Close</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'RequestForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        tenant: {},
        model: null,
        requested_by: null,
        status: null,
        requestable: {}
      },
      status : null
      
    }
  },
  computed: {
    ...mapState({
     
    }),
  },
  watch: {
    data: function(nVal, oVal) {
      console.log('nVal', nVal)
      if (nVal && nVal._id) {
        this.form = { ...nVal }
        this.status = this.form.status
      }
    }
  },
  mounted() {
    this.form = { ...this.data }
    this.status = this.form.status
  },
  methods: {
    ...mapActions({
      
    }),
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          if (this.data && this.data._id) {
            const requestData = { ...this.form, _id: this.data._id }
            requestData.status = this.status;
            if(this.status == 'rejected' && this.form.status == 'pending'){
              this.$emit('onUpdateRejected', requestData)
              return true
            }else if(this.status == 'finished' && this.form.status == 'pending'){
              this.$emit('onUpdateFinished', requestData)
              return true
            }
            
          }
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    changeStatus(){
      console.log('status', this.status)
    },

    resetForm() {
      this.$refs.form.resetFields()
      this.form = {
        tenant: {},
        model: null,
        requested_by: null,
        status: null,
        requestable: {}
      }
      this.status = null;
    }
  }
}
</script>

<style lang="scss" scoped></style>
