<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" maxlength="50" />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" />
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="form.price" type="number">
          <template slot="prepend">$</template>
        </el-input>
      </el-form-item>
      <el-form-item label="Stripe Id" prop="stripePriceId">
        <el-input v-model="form.stripePriceId" />
      </el-form-item>
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'OptionForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      form: {
        name: '',
        description: ''
      },
      rules: {
        name: [{ required: true, message: 'Please input Option name', trigger: 'blur' }]
      }
    }
  },
  computed: {
    submitText() {
      return this.data && this.data.id ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      if (nVal.id) {
        if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
          this.form = { ...nVal }
        }
      }
    }
  },
  mounted() {
    this.form = { ...this.data }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        if (valid) {
          if (this.data && this.data.id) {
            const featureData = { ...this.form, id: this.data.id }
            this.$emit('onUpdate', featureData)
            return true
          }
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
      this.form = {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
