<template>
  <div>
    <div>
      <div class="header-title">
        <span class="title">Offers list</span>
        <div class="actions-block">
          <el-button type="success" @click="showCreationModal">Create Offer</el-button>
        </div>
      </div>
      <el-table
        v-loading="listLoading"
        :data="offers"
        border
        fit
        highlight-current-row
        style="width: 100%; margin-top: 1em"
      >
        <el-table-column align="center" label="Index" width="80">
          <template slot-scope="{ $index }">
            <span>{{ $index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="100px" align="center" label="Name">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
            <el-tooltip effect="light" placement="right">
              <div slot="content">
                {{ row.description }}
              </div>
              <i class="el-icon-info" style="margin-left: 0.5em" />
            </el-tooltip>
          </template>
        </el-table-column>

        <el-table-column min-width="50px" label="Discount Type">
          <template slot-scope="{ row }">
            <span>{{ getDiscountByType(row.discountType) }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="50px" label="Discount Value">
          <template slot-scope="{ row }">
            <span>{{ row.discountValue }}</span>
          </template>
        </el-table-column>
        <el-table-column min-width="50px" label="Start Time">
          <template slot-scope="{ row }">
            <span>{{ parseTime(row.startDate, '{d}-{m}-{y} {h}:{i}:{s}') }}</span>
          </template>
        </el-table-column>

        <el-table-column min-width="50px" label="End Time">
          <template slot-scope="{ row }">
            <span>{{ parseTime(row.endDate, '{d}-{m}-{y} {h}:{i}:{s}') }}</span>
          </template>
        </el-table-column>

        <el-table-column fixed="right" align="center" label="Actions" width="250px">
          <template slot-scope="{ row }">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditForm(row)">
              Edit
            </el-button>
            <el-button
              type="danger"
              size="small"
              icon="el-icon-delete"
              @click="handleDeleteOffer(row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog :title="dialogTitle" :visible.sync="creationForm.visible" @close="hideCreationModal">
      <OfferForm
        ref="offerForm"
        :data="offer"
        @onCreate="handleCreateOffer"
        @onUpdate="handleUpdateOffer"
        @onCancel="hideCreationModal"
      />
    </el-dialog>
  </div>
</template>

<script>
import OfferForm from './OfferForm'
import { mapActions, mapState } from 'vuex'
import { HTTP_STATUS_CODE } from '@/core/constants'
import { parseTime } from '@/utils'
import { DISCOUNT_TYPE } from './OfferForm.vue'
export default {
  name: 'OffersPage',
  components: { OfferForm },
  data() {
    return {
      parseTime,
      creationForm: {
        visible: false
      },
      listLoading: false,
      offer: {}
    }
  },
  computed: {
    ...mapState({
      offers: state => state.offer.list || []
    }),
    dialogTitle() {
      if (this.offer && this.offer.id) {
        return 'Edit Offer'
      }
      return 'Create new Offer'
    }
  },
  mounted() {
    this.getListOffer()
  },
  methods: {
    ...mapActions({
      getListOffer: 'offer/getList',
      createOffer: 'offer/create',
      updateOffer: 'offer/update',
      deleteOffer: 'offer/delete'
    }),
    showCreationModal() {
      this.creationForm.visible = true
    },
    hideCreationModal() {
      this.creationForm.visible = false
      this.offer = {}
      this.$refs.offerForm.resetForm()
    },
    showEditForm(item) {
      this.offer = item
      this.showCreationModal()
    },
    async handleCreateOffer(data) {
      const response = await this.createOffer(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleUpdateOffer(data) {
      const response = await this.updateOffer(data)
      if (response.status === HTTP_STATUS_CODE.SUCCESS) {
        this.hideCreationModal()
      }
    },
    async handleDeleteOffer(offer) {
      this.$confirm(`This will permanently delete the offer "${offer.name}". Continue?`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        center: true
      })
        .then(() => {
          this.deleteOffer(offer)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    },
    getDiscountByType(type) {
      const discountObj = DISCOUNT_TYPE.find(item => item.value === type)
      if (discountObj) {
        return discountObj.name
      }
      return type
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
