<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-form-item label="Name" prop="name">
        <el-input v-model="form.name" maxlength="50" />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" />
      </el-form-item>
      <el-form-item label="Discount Type" prop="discountType">
        <el-select v-model="form.discountType" placeholder="Select discount type">
          <el-option
            v-for="item in discountTypes"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Discount Value" prop="discountValue">
        <el-input v-model="form.discountValue" type="number" />
      </el-form-item>
      <el-form-item label="Active time" prop="datetimeRange">
        <el-date-picker
          v-model="datetimeRange"
          type="datetimerange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
        />
      </el-form-item>
      <el-form-item class="actions-block">
        <el-button native-type="submit" type="primary" @click="onSubmit">{{
          submitText
        }}</el-button>
        <el-button @click="onCancel">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export const DISCOUNT_TYPE = [
  { name: 'Percent (%)', value: 1 },
  { name: 'Cash ($)', value: 0 }
]

export default {
  name: 'OfferForm',
  props: {
    data: {
      type: Object || null,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      discountTypes: DISCOUNT_TYPE,
      form: {
        name: '',
        description: '',
        discountType: '',
        discountValue: 0,
        datetimeRange: []
      },
      rules: {
        name: [{ required: true, message: 'Please input Offer name', trigger: 'blur' }],
        discountType: [{ required: true, message: 'Please select Discount type', trigger: 'blur' }],
        discountValue: [
          { required: true, message: 'Please input Discount value', trigger: 'blur' }
        ]
      },
      datetimeRange: [new Date(), new Date()]
    }
  },
  computed: {
    submitText() {
      return this.data && this.data.id ? 'Save' : 'Create'
    }
  },
  watch: {
    data: function(nVal, oVal) {
      if (JSON.stringify(nVal) !== JSON.stringify(oVal)) {
        this.form = { ...nVal }
        this.datetimeRange = [new Date(this.form.startDate), new Date(this.form.endDate)]
      }
    },
    datetimeRange: function(val) {
      if (val && val.length > 1) {
        this.form.startDate = val[0].getTime()
        this.form.endDate = val[1].getTime()
      }
    }
  },
  mounted() {
    this.form = { ...this.data }
    // if (!this.form.startDate) {
    //   this.form.startDate = new Date().getTime()
    //   this.form.endDate = new Date().getTime()
    // }
    console.log('this.form: ', this.form)
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.$refs.form.validate(valid => {
        console.log('this.form: ', this.form)
        if (valid) {
          if (!this.form.startDate) {
            this.form.startDate = this.datetimeRange[0].getTime()
            this.form.endDate = this.datetimeRange[1].getTime()
          }
          if (this.data && this.data.id) {
            const featureData = { ...this.form, id: this.data.id }
            this.$emit('onUpdate', featureData)
            return true
          }
          this.$emit('onCreate', this.form)
          return false
        }
        return false
      })
    },
    onCancel() {
      this.$emit('onCancel')
    },
    resetForm() {
      this.$refs.form.resetFields()
    }
  }
}
</script>

<style lang="scss" scoped></style>
